<a href="https://colab.research.google.com/github/e9anna/book_algorithm/blob/main/crawling/%EC%A0%84%EC%B2%98%EB%A6%AC_ver1_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np

## 0. 파일 불러오기

In [4]:
df = pd.read_csv('/content/dc_04.csv', encoding='utf-8-sig')
df.head()

   Unnamed: 0  ...                             contents
0           0  ...                                  \n
1           1  ...  \n감사합니다 갤주 sensai- dc official App
2           2  ...                                  NaN
3           3  ...        \n안될거뭐있노?  - dc official App
4           4  ...              \n씹  - dc official App

[5 rows x 4 columns]

## 1. \n , - dc official App 제거

In [5]:
df['contents']=df['contents'].str.replace('\n','')
df['contents'] = df['contents'].str.replace(pat=r'- dc official App', repl=r'', regex=True)
df.head(20)

    Unnamed: 0  ...                                           contents
0            0  ...
1            1  ...                                   감사합니다 갤주 sensai
2            2  ...                                                NaN
3            3  ...                                         안될거뭐있노?
4            4  ...                                               씹
5            5  ...                                                ?
6            6  ...
7            7  ...                                                NaN
8            8  ...                                                 .
9            9  ...                                               우흥~
10          10  ...                               - 인스타namg0sangjyang
11          11  ...                                     우리도 좀 키워보자 여기
12          12  ...                                                NaN
13          13  ...                                                NaN
14          14  ...                                               ㄹㅇ
15          15  ...                            05년생갤은 흥하는데 04들만 없노 ㅜㅜ
16          16  ...                                              ㅋㅋ
17          17  ...                                                NaN
18          18  ...
19          19  ...  I don't need you in my lifeI didn't know you w...

[20 rows x 4 columns]

## 2. nan 값 제거

In [6]:
df1 = df.dropna(axis=0)
df1.head()

   Unnamed: 0  num                     title          contents
0           0    1                        첫글
1           1    2  드디어 04틀딱이 할 수 있는 갤이 생기다니  감사합니다 갤주 sensai
3           3    4                        예아        안될거뭐있노?
4           4    5      05갤은 흥하는데 여기는 와이러노..              씹
5           5    6                         ?               ?

## 3. csv 파일로 저장

In [9]:
df1.to_csv('dc_04_ver1.0', encoding='utf-8-sig')

In [8]:
df2 = pd.read_csv('/content/dc_04_ver1.0', encoding='utf-8-sig')
df2.head(30)

    Unnamed: 0  ...                                           contents
0            0  ...
1            1  ...                                   감사합니다 갤주 sensai
2            3  ...                                         안될거뭐있노?
3            4  ...                                               씹
4            5  ...                                                ?
5            6  ...
6            8  ...                                                 .
7            9  ...                                               우흥~
8           10  ...                               - 인스타namg0sangjyang
9           11  ...                                     우리도 좀 키워보자 여기
10          14  ...                                               ㄹㅇ
11          15  ...                            05년생갤은 흥하는데 04들만 없노 ㅜㅜ
12          16  ...                                              ㅋㅋ
13          18  ...
14          19  ...  I don't need you in my lifeI didn't know you w...
15          20  ...
16          21  ...                                           우헤헤헤헿
17          22  ...                                                 ㅇ
18          24  ...                                                ㅉ
19          26  ...                                       어짜피 아무도 없는데
20          27  ...                                        05갤은 활발하던데
21          28  ...                04는 고1때 시험보고 인실ㅈ될것같아서 공부하는거임 ㅅㄱ
22          29  ...                              공스타: 04kotori04년생 정시
23          30  ...                        디시 하는 여자 본 적 없는데 여기 여자 있냐?
24          32  ...        여기에 글 싸지를 시간에 공부 조금이라도 쳐 하면 대학 더 좋은대감 ㅇㅇ
25          33  ...             고1거부터 다시 시작하는중 ㅠㅠ 1년 놀았더니 공부가 너무 힘들다
26          34  ...                                   05 보고 04 왔는데 :(
27          35  ...
28          36  ...  https://youtu.be/HXwYJGl8tcMㄹㅇ.. 우리학교 애가 만든건데 ...
29          37  ...

[30 rows x 5 columns]